.optionsContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.optionButton,
.resetButton {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.optionButton {
  background-color: #4caf50;
  color: white;
}

.optionButton:hover {
  background-color: #45a049;
}

.resetButton {
  background-color: #f44336;
  color: white;
}

.resetButton:hover {
  background-color: #d32f2f;
}
